# 4.8 - Grouping Data & Aggregating Variables

### Table of Contents

* [Importing Libraries & Dataframes](#import_libraries)
    * [Step 2](#step2)
    * [Step 3](#step3)
    * [Step 4](#step4)
    * [Step 5](#step5)
    * [Step 6](#step6)
    * [Step 7](#step7)
    * [Step 9](#step9)

# Importing Libraries & Dataframe <a class="anchor" id="import_libraries"></a>

In [1]:
#Importing Python libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Creating a folderpath shortcut for easy importing/exporting dataframes
path = r'/Users/kerimzengin/Desktop/Data Analytics/Data Analytics Immersion/Achievement 4 - Python Fundamentals for Data Analysts/Instacart Basket Analysis/Data'

In [3]:
#Importing the orders_products_merged_new_columns.pkl file into the dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_new_columns.pkl'))

# 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe. <a class="anchor" id="step2"></a>

In [4]:
#Finding the aggregated mean for the order_number column, grouped by department_id for the dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              16.559358
2.0              18.413176
3.0              18.279600
4.0              18.915890
5.0              16.495614
6.0              17.609390
7.0              18.303975
8.0              16.383301
9.0              17.022963
10.0             21.227447
11.0             17.312259
12.0             16.953613
13.0             17.727470
14.0             17.896145
15.0             17.290123
16.0             18.757796
17.0             16.808683
18.0             20.336389
19.0             18.258620
20.0             17.578959
21.0             23.644477

# 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code. <a class="anchor" id="step3"></a>

#### The mean values for the entire datafram are slightly higher than the mean values returned for the subset, this is obviously due the number of the rows in the dataframe compared to the number used in the subset

# 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions. <a class="anchor" id="step4"></a>

In [5]:
#Creating a max_order column to hold the maximum order numbers of each user, grouped by user_id
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
#Checking if previous code was executed successfully
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order
0,2398795,1,prior,2,3,7,15.0,196,1,1,...,77.0,7.0,9.0,both,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10
1,2398795,1,prior,2,3,7,15.0,10258,2,0,...,117.0,19.0,3.0,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10
2,2398795,1,prior,2,3,7,15.0,12427,3,1,...,23.0,19.0,4.4,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10
3,2398795,1,prior,2,3,7,15.0,13176,4,0,...,24.0,4.0,10.3,both,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10
4,2398795,1,prior,2,3,7,15.0,26088,5,1,...,23.0,19.0,4.7,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10

In [7]:
#Creating a flag for Loyal Customer for values higher than 40
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
#Creating a flag for Regular customer for values more than 10 and less than and equals 40
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [9]:
#Creating a flag for New customer for values equal or less than 10
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
#Checking if loyalty flags were executed successfully
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag
0,2398795,1,prior,2,3,7,15.0,196,1,1,...,7.0,9.0,both,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer
1,2398795,1,prior,2,3,7,15.0,10258,2,0,...,19.0,3.0,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer
2,2398795,1,prior,2,3,7,15.0,12427,3,1,...,19.0,4.4,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer
3,2398795,1,prior,2,3,7,15.0,13176,4,0,...,4.0,10.3,both,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer
4,2398795,1,prior,2,3,7,15.0,26088,5,1,...,19.0,4.7,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer

In [11]:
#Checking the frequency counts for the loyalty_flag column
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15096208
Loyal customer      10105427
New customer         5156399
Name: loyalty_flag, dtype: int64

# 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers. <a class="anchor" id="step5"></a>

In [12]:
#Aggregating the prices' mean, min, max values and grouping results by loyalty_flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.402056  1.0  99999.0
New customer      13.396084  1.0  99999.0
Regular customer  12.546626  1.0  99999.0

#### This shows that on average new customers spend more than the loyal and regular customers

# 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
## If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
## If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.” <a class="anchor" id="step6"></a>

In [14]:
#Creating an avg_price_orders column to hold the average prices of all orders for each user, grouped by user_id
ords_prods_merge['avg_price_orders'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
#Checking if previous code was executed successfully
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag,spending_habit,avg_price_orders
0,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,6.372222
1,2398795,1,prior,2,3,7,15.0,10258,2,0,...,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,6.372222
2,2398795,1,prior,2,3,7,15.0,12427,3,1,...,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,6.372222
3,2398795,1,prior,2,3,7,15.0,13176,4,0,...,both,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,6.372222
4,2398795,1,prior,2,3,7,15.0,26088,5,1,...,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,6.372222

In [21]:
#Creating a flag for high spender for values higher than or equals to 10 and insert flag into spending_habit column
ords_prods_merge.loc[ords_prods_merge['avg_price_orders'] >= 10, 'spending_habit'] = 'High spender'

In [22]:
#Creating a flag for low spender for values lower than 10 and insert flag into spending_habit column
ords_prods_merge.loc[ords_prods_merge['avg_price_orders'] < 10, 'spending_habit'] = 'Low spender'

In [23]:
#Checking if spending_habit flags were executed successfully
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_orders,spending_habit
0,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender
1,2398795,1,prior,2,3,7,15.0,10258,2,0,...,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender
2,2398795,1,prior,2,3,7,15.0,12427,3,1,...,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender
3,2398795,1,prior,2,3,7,15.0,13176,4,0,...,both,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender
4,2398795,1,prior,2,3,7,15.0,26088,5,1,...,both,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender

In [34]:
#Showing the frequency count for the spending_habit column
ords_prods_merge['spending_habit'].value_counts(dropna=False)

Low spender     29759385
High spender      598641
NaN                    8
Name: spending_habit, dtype: int64

# 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
## If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
## If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
## If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.” <a class="anchor" id="step7"></a>

In [24]:
#Creating an median_days_prior_order column to hold the median days since last order for each user, grouped by user_id
ords_prods_merge['median_days_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [25]:
#Checking if previous code was executed successfully
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_orders,spending_habit,median_days_prior_order
0,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,10258,2,0,...,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5
2,2398795,1,prior,2,3,7,15.0,12427,3,1,...,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5
3,2398795,1,prior,2,3,7,15.0,13176,4,0,...,Mid-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5
4,2398795,1,prior,2,3,7,15.0,26088,5,1,...,Low-Range Product,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5

In [27]:
#Creating a flag for frequent customers for median values lower than or equals to 10 and insert flag into order_frequency column
ords_prods_merge.loc[ords_prods_merge['median_days_prior_order'] <= 10, 'order_frequency'] = 'Frequent spender'

In [30]:
#Creating a flag for frequent customers for median values higher than 10 and lower than and equals to 20 and insert flag into order_frequency column
ords_prods_merge.loc[(ords_prods_merge['median_days_prior_order'] > 10) & (ords_prods_merge['median_days_prior_order'] <= 20), 'order_frequency'] = 'Regular spender'

In [31]:
#Creating a flag for frequent customers for median values higher than 20 and insert flag into order_frequency column
ords_prods_merge.loc[ords_prods_merge['median_days_prior_order'] > 20, 'order_frequency'] = 'Non-frequent spender'

In [32]:
#Checking if previous code was executed successfully
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_orders,spending_habit,median_days_prior_order,order_frequency
0,2398795,1,prior,2,3,7,15.0,196,1,1,...,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5,Non-frequent spender
1,2398795,1,prior,2,3,7,15.0,10258,2,0,...,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5,Non-frequent spender
2,2398795,1,prior,2,3,7,15.0,12427,3,1,...,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5,Non-frequent spender
3,2398795,1,prior,2,3,7,15.0,13176,4,0,...,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5,Non-frequent spender
4,2398795,1,prior,2,3,7,15.0,26088,5,1,...,Regularly busy,Least busy,Least busy,Average Orders,10,New customer,6.372222,Low spender,20.5,Non-frequent spender

In [33]:
#Showing the frequency count for the order_frequency column
ords_prods_merge['order_frequency'].value_counts(dropna=False)

Frequent spender        20693442
Regular spender          6602799
Non-frequent spender     3061793
Name: order_frequency, dtype: int64

# 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder. <a class="anchor" id="step9"></a>

In [35]:
#Exporting dataframe to the Prepared Folder as a pickle file
ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_grouped.pkl'))